<div class="bg-light text-center pt-5" style="height: 100vh;">
    <div class="container">
        <h1 class="display-1 pt-5 text-danger fw-bold font-weight-bold">404</h1>
        <h1 class="display-4 fw-bold text-secondary pt-1 pb-3">Pagina no encontrada</h1>
        <a href="/products" class="btn btn-success mt-3 pt-3 pb-3 pr-4 pl-4">Volver a la tienda</a>
    </div>
</div>